*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 233, 45, 1) 94%);
    height: 100vh;
    place-items: center;
    display: grid;
}

.wrapper {
    position: relative;
}

.circle {
    position: absolute;
    height: 150px;
    width: 150px;
    background: black;
    border-radius: 50%;
}

.circle1 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    right: -60px;
    top: -60px;
}

.circle2 {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    bottom: -60px;
    left: -60px;
}

.form {
    position: relative;
    width: 400px;
    height: 400px;
    display: grid;
    place-content: center;
    background-attachment: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    backdrop-filter: blur(12px);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}

input {
    direction: rtl;
}

input,
button {
    font-size: 1.6rem;
    display: block;
    border-radius: 12px;
    border: none;
    width: 100%;
    margin: 20px auto;
    padding: 12px 20px;
    background: rgba(225, 225, 225, 0.1);
    border-top: 1px solid rgba(225, 225, 225, 0.1);
    box-shadow: 0 13px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color: rgb(241, 241, 245);
    text-align: center;
}

button {
    cursor: pointer;
    background-color: blue;
    color: #fff;
    transition: 0.5;
}

button:hover {
    background-color: rgb(16, 211, 114);
}

::placeholder {
    color: aliceblue;
    font-size: 1.6rem;
}

.forget {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}
